<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foto do Dia</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main_page.css') }}">
  <body>

    <h1>{{start}} - {{end}}</h1>

    
    <div>Top 5</div>
    <ol>
      {% for person in people%}
        <li> {{ person }} </li>
      {% endfor %}
    </ol>

    <a href="{{ url_for('rank', start=start.replace('/', '_'), end=end.replace('/', '_'))}}">Rank</a>

    <h2>Choose two dates</h2>

    <form method="POST" action="{{ url_for('between_dates') }}">
      <input type="text" name="date1" placeholder="Start" required="required"><br>
      <input type="text" name="date2" placeholder="End" required="required"><br>
      <input type="submit" value="Search">
    </form>



    <div class="image-grid">
        {% for date in dates%}
          <div> <a href="{{ url_for('filter', date=date.replace('/', '_'), source_name=('between-' + start.replace('/', '_') + '-' + end.replace('/', '_')))}}">
            <img src="{{ url_for('get_img', date=date.replace('/', '_'))}}"/>
          </a> </div>
        {% endfor %}
    </div>



  </body>
</html>