<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
  <body>

    <ul>
      {% for person in people%}
        <li> {{ person }} </li>
      {% endfor %}
    </ul>

    <h2>New Person</h2>

    <form method="POST" action="{{ url_for('index') }}">
      <input type="text" name="name" placeholder="Name" required="required"><br>
      <input type="text" name="date" placeholder="Date" required="required"><br>
      <input type="submit" value="Create">
    </form>

    <a href="{{ url_for('delete')}}">Delete</a>
    <a href="{{ url_for('upload')}}">Upload</a>

    <ul>
      {% for date in dates%}
        <li> <a href="{{ url_for('filter', day=date.split('/')[0], month=date.split('/')[1], year=date.split('/')[2])}}">
          <img src="{{ url_for('get_img', day=date.split('/')[0], month=date.split('/')[1], year=date.split('/')[2])}}"/>
        </a> </li>
      {% endfor %}
    </ul>


  </body>
</html>