<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foto do Dia</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main_page.css') }}">
  <body>
    
    <div class="header">
      <a href="{{ url_for('upload')}}">Upload</a>
      <a href="{{ url_for('rank', start=start, end=end)}}">Rank</a>
    </div>

    <h1>Foto do Dia</h1>

    
    <div>Top 5</div>
    <ol>
      {% for person in people%}
        <li> {{ person }} </li>
      {% endfor %}
    </ol>

    <h2>Search for someone</h2>

    <form method="POST" action="{{ url_for('index') }}">
      <input type="text" name="name" placeholder="Name" required="required">
      <input type="submit" value="Search">
    </form>

    <h2>Choose two dates</h2>

    <form method="POST" action="{{ url_for('between_dates') }}">
      <input type="text" name="date1" placeholder="Start"><br>
      <input type="text" name="date2" placeholder="End"><br>
      <input type="submit" value="Search">
    </form>




    <div class="image-grid">
        {% for date in dates%}
          <div> <a href="{{ url_for('filter', date=date.replace('/', '_'), source_name='main')}}">
            <img src="{{ url_for('get_img', date=date.replace('/', '_'))}}"/>
          </a> </div>
        {% endfor %}
    </div>



  </body>
</html>