<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foto do Dia</title>
  <body>


    <h2>Log in</h2>

    <form method="POST" action="{{ url_for('login') }}">
      <input type="text" name="name" placeholder="Name" required="required"><br>
      <input type="password" name="password" placeholder="Password" required="required"><br>
      <input type="submit" value="Login">
    </form>
    
</html>