<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main_page.css') }}">
  <body>

    <div class="header">
      <a href="{{ url_for('index')}}">Main Page</a>
    </div>

    <h1>{{name}}</h1>


    <div class="image-grid">
        {% for date in dates%}
          <div> <a href="{{ url_for('filter', date=date.replace('/', '_'), source_name=name)}}">
            <img src="{{ url_for('get_img',date=date.replace('/', '_'))}}"/>
          </a> </div>
        {% endfor %}
    </div>



  </body>
</html>