<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main_page.css') }}">
  <body>

    <h1>{{name}}</h1>


    <div class="image-grid">
        {% for date in dates%}
          <div> <a href="{{ url_for('filter', day=date.split('/')[0], month=date.split('/')[1], year=date.split('/')[2])}}">
            <img src="{{ url_for('get_img', day=date.split('/')[0], month=date.split('/')[1], year=date.split('/')[2])}}"/>
          </a> </div>
        {% endfor %}
    </div>



  </body>
</html>