<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sobre.css') }}">
</head>
<body>

  <h1>{{date}}</h1>
  {{ name }}
  <div>
    <ul>
        {% for person in people%}
          <li> {{ person }} 
            <form method="POST" action="{{ url_for('delete_someone', name=person.name, day=date.split('/')[0], month=date.split('/')[1], year=date.split('/')[2]) }}" style="display: inline">
              <input type="submit" value="Delete">
            </form>
          </li>
        {% endfor %}
    </ul>
    </div>

    <h2>Add someone to this date</h2>

    <form method="POST" action="{{ url_for('filter', date=date.replace('/', '_'), source_name='main') }}">
      <input type="text" name="name" placeholder="Name" required="required">
      <input type="submit" value="Create">
    </form>

    <div><img src="{{ url_for('get_img', date=date.replace('/', '_'))}}"/></div>

    <div class="footer">
      {% if previous %}
        <a href="{{ url_for('filter', date=previous.replace('/', '_'), source_name=source)}}"><div>Previous</div></a>
      {% endif %}

      {% if source == 'Main' %}
        <a href="{{url_for('index')}}"><div>Main Page</div></a>
      {% elif source.split("-")[0] == "Between" %}
        <a href="{{url_for('between', date1=source.split('-')[1], date2=source.split('-')[2])}}"><div>Between Page</div></a>
      {% else %}
        <a href="{{url_for('person', name=source)}}"><div>{{source}}'s Page</div></a>
      {% endif %}

      {% if next %}
        <a href="{{ url_for('filter', date=next.replace('/', '_'), source_name=source)}}"><div>Next</div></a>
      {% endif %}
    </div>
</body>
</html>