<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sobre.css') }}">
</head>
<body>
  <div>
    <ul>
        {% for person in people%}
          <li> {{ person }} 
            <form method="POST" action="{{ url_for('delete_someone', name=person.name, day=date.split('/')[0], month=date.split('/')[1], year=date.split('/')[2]) }}" style="display: inline">
              <input type="submit" value="Delete">
            </form>
          </li>
        {% endfor %}
    </ul>
    </div>

    <h2>Add someone to this date</h2>

    <form method="POST" action="{{ url_for('filter', day=date.split('/')[0], month=date.split('/')[1], year=date.split('/')[2]) }}">
      <input type="text" name="name" placeholder="Name" required="required"><br>
      <input type="submit" value="Create">
    </form>

    <div><img src="{{ url_for('get_img', day=date.split('/')[0], month=date.split('/')[1], year=date.split('/')[2])}}"/></div>

    <div class="footer">
      {% if previous %}
        <a href="{{ url_for('filter', day=previous.split('/')[0], month=previous.split('/')[1], year=previous.split('/')[2])}}">Previous</a>
      {% endif %}
      {% if next %}
        <a href="{{ url_for('filter', day=next.split('/')[0], month=next.split('/')[1], year=next.split('/')[2])}}">Next</a>
      {% endif %}
    </div>
</body>
</html>