<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/upload.css') }}">
  <body>

    <h2>Upload file</h2>

    <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
      <input type="file" name="file" placeholder="upload" required="required" accept="image/png, image/jpeg, image/jpg"><br>
      <input type="text" name="date" placeholder="Date"><br>
      <input type="submit" value="Create">
    </form>
    
    <div class="image-grid">
      {% for img in imgs%}
      <div class="secao">
        <img src="{{ url_for('get_img', date=img.date.replace('/', '_') )}}"/>
        <div class="options">
          <div>{{ img.date }}</div>
          <form method="POST" action="{{ url_for('delete_img', id=img.id) }}" style="display: inline">
            <input type="submit" value="Delete">
          </form>
        </div>
      </div>
      {% endfor %}
      </div>


  </body>
</html>