body{
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.image-grid {
    display: flex;
    gap: 0.70vw;
    flex-wrap: wrap;
    margin: 0.70vw;
}

img {
    object-fit: cover;
    width: 19vw;
    height: 19vw;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: darkgrey;
    width: 100%;
}

ol {
    list-style-position: inside;
    padding: 0;
}