body{
    margin: 0;
}

.image-grid {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: 10px;
}

img {
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.secao {
    display: flex;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1a73e8;
    padding: 15px;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    font-size: 15px;
}

.header a:hover {
    background-color: lightgray;
}

form {
    margin-left: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-left: 10px;
}